@mixin drop-shadow($color: rgba(0, 0, 0, 0.2), $blur: 0, $x: 0, $y: 0) {
    // color, blur, x, y
    -ms-box-shadow: $x $y $blur $color; // IE10+
    @if ($x == 0 and $y == 0) {
        // non directional glow
        filter: Glow(color=#{ie-hex-str($color)}, strength=#{numericvalue($blur)});
        -ms-filter: glow(color=#{ie-hex-str($color)}, strength=#{numericvalue($blur)});
    } @else {
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=#{numericvalue($blur)}, Direction=#{degrees($x, $y)}, Color='#{ie-hex-str($color)}')"; // IE8
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=#{numericvalue($blur)}, Direction=#{degrees($x, $y)}, Color='#{ie-hex-str($color)}'); // IE7-
    }
    -o-box-shadow: $x $y $blur $color; // Opera
    -moz-box-shadow: $x $y $blur $color; // Firefox
    -webkit-box-shadow: $x $y $blur $color; // Webkit (Safari, Chrome, other)
    box-shadow: $x $y $blur $color;
}

@mixin vertical-gradient($startColor: #fff, $endColor: #333) {
    background: $startColor; // fallback
    background: -ms-linear-gradient(top, $startColor 0%, $endColor 100%); // IE 10+
    background: -o-linear-gradient(top, $startColor 0%, $endColor 100%); // Opera
    background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%); // Firefox
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, $startColor),
        color-stop(100%, $endColor)
    ); // Webkit (Safari, Chrome, other)
    background: -webkit-linear-gradient(top, $startColor 0%, $endColor 100%); // Webkit (Safari, Chrome, other)
    background: linear-gradient(to bottom, $startColor 0%, $endColor 100%); // W3C
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}',GradientType=0 ); // IE 6-8
}

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin disable-user-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin disable-copy {
    // disables the ability to copy text on ios
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

@mixin placeholder-styles() {
    ::-webkit-input-placeholder {
        @content;
    }
    :-moz-placeholder {
        @content;
    } // Firefox 18-
    ::-moz-placeholder {
        @content;
    } // Firefox 19+
    :-ms-input-placeholder {
        @content;
    }

    // for polyfill
    .placeholder {
        @content;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: none;
        padding: 12px;
        cursor: text;
        line-height: 1.1;
    }
}

@mixin breakpointMax($width) {
    @media screen and (max-width: $width) {
        @content();
    }
}
@mixin breakpointMin($width) {
    @media screen and (min-width: $width) {
        @content();
    }
}
