.slider__caption-display {
    width: 330px;
    height: 100%;
    position: relative;
    top: 10px;
    left: -6px;
    z-index: 5;
    padding: 13px 20px 20px 20px;
    background: url(../../../../assets/bg-slider-responsive-2.jpg) no-repeat 100% 0;

    border-radius: 4px;
    box-shadow:
        -20px 28px 20px rgba(0, 0, 0, 0.8),
        7px -5px 5px rgba(0, 0, 0, 0.5) inset,
        -5px 5px 4px rgba(255, 255, 211, 0.3) inset;

    p {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 7px;
    }

    &--is-hiding {
        animation: 0.5s ease-in-out 0s hideCaptions;
    }

    &--is-showing {
        animation: 0.5s ease-in-out 0s showCaptions;
    }

    &--is-hidden {
        left: -35%;
        z-index: 1;
    }
}
@keyframes hideCaptions {
    from {
        left: -6px;
        z-index: 5;
    }
    15% {
        left: 24px;
        z-index: 1;
    }
    100% {
        left: -35%;
        z-index: 1;
    }
}

@keyframes showCaptions {
    from {
        left: -35%;
        z-index: 1;
    }
    80% {
        left: 24px;
        z-index: 1;
    }
    100% {
        left: -6px;
        z-index: 5;
    }
}
