@use "../../styles/mixins";
@use "../../styles/global";

.slider {
    display: flex;
    width: 915px;
    margin: 0 auto;

    .slider__container {
        position: relative;
        background: url(../../assets/bg-slider-responsive-2.jpg) no-repeat 0 0;
        margin: 0 0 100px 0;
        z-index: 2;

        transition: transform 0.25s ease-in-out;
        border-radius: 10px;
        box-shadow: 7px -5px 5px rgba(0, 0, 0, 0.5) inset, -5px 5px 4px rgba(255, 255, 211, 0.3) inset;
    }
    .slider__container--captions-hidden {
        transform: translate(30%, 0);
    }

    .slider__viewport {
        overflow: hidden;
        width: 495px;
        height: 350px;
        margin: 25px 45px 0 45px;
        border-radius: 9px;
        background: #000 url(../../assets/loader/loader-o-yellow.gif) no-repeat 50% 50%;
        box-shadow: -3px 4px 1px rgba(255, 255, 211, 0.3), 4px -4px 1px rgba(0, 0, 0, 0.5);
    }
    .viewport__slides {
        position: relative;
        display: flex;
        width: min-content;
        height: 100%;
        left: -100%;
    }
    .viewport__slides--is-animating-right {
        animation: 0.4s ease-in-out 0s slide-right;
    }
    .viewport__slides--is-animating-left {
        animation: 0.4s ease-in-out 0s slide-left;
    }

    img {
        outline: none;
        @include mixins.disable-user-select();
    }

    .btn {
        cursor: pointer;
        line-height: 1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 3%;
        margin-top: -28px;
        width: 93.5%;
        height: 56px;
        z-index: 1;
        @include mixins.disable-user-select();
    }

    .nav__btn {
        width: 56px;
        height: 56px;
        text-indent: -9999px;
    }

    .btn-prev {
        background: url(../../assets/ui_slider_buttons_sprite.png) no-repeat 0 -224px;
        transition: margin 200ms;

        &:hover {
            background-position: 0 -280px;
            margin-left: -2px;
        }
    }

    .btn-next {
        background: url(../../assets/ui_slider_buttons_sprite.png) no-repeat -61px -224px;
        transition: margin 200ms;

        &:hover {
            background-position: -61px -280px;
            margin-right: -2px;
        }
    }

    .btn-toggle-captions {
        cursor: pointer;
        width: 96px;
        height: 25px;
        line-height: 1;
        border: 1px solid #000;
        border-radius: 4px;
        color: #eee;
        font-size: 12px;
        background: linear-gradient(45deg, #111 60%, #747474);
        text-align: center;
        box-shadow: 0px 0px 4px 0px #000 inset;
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 5px 0px #c0ba87cc inset;
            border-color: #a8a8a8;
        }
    }

    .slider__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        height: 44px;
    }

    .controls__slider-menu {
        display: flex;
        align-items: center;
        width: min-content;
        height: 27px;
        padding: 0 0 0 10px;
        margin-top: 1px;
        background-color: rgba(#000, 0.4);
        box-shadow: 1px -2px 2px rgba(255, 255, 211, 0.5) inset, -3px 2px 3px rgba(0, 0, 0, 0.8) inset;
        border-radius: 15px;
    }

    .slider-menu__play-state {
        width: 55px;
        height: 18px;

        text-align: center;
        font-style: italic;
        padding: 0 0 5px 0;
        border-radius: 5px 14px 14px 5px;

        font-size: 12px;
        color: global.$gold;
        background-color: rgba(#000, 0.3);
    }

    @keyframes slide-right {
        from {
            left: -100%;
        }
        to {
            left: 100%;
            transform: translateX(-100%);
        }
    }

    @keyframes slide-left {
        from {
            left: -100%;
        }
        to {
            left: 0;
        }
    }
}
